body {
    min-height: 1650px;
    margin: auto;
    background-image: url("../image/purple.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-link {
    font-size: 30px;
    color: rgba(217, 225, 222, 0.837);
    font-family: 'Rubik', sans-serif;
}
.navbar-brand {
    font-size: 40px;
    font-weight: 900px;
    color: rgba(245, 238, 238, 0.72);
    font-family: 'Rubik', sans-serif;;
}
.card {
    background-color: rgba(71, 91, 108, 0.572);
}



.contact-info{
    display: flex;
    justify-content: space-around;
}
.contact-info a {
    color: rgb(70, 219, 29);
}

.contact-info a:hover {
    color: var(--white-font)
}
 .contact-info:hover {
    box-shadow: #0000006e;
 }

 .footer{
    color: white;
    padding: 40px;
    position: absolute;
    bottom: 0;
    width: 99%;
    background-color: rgba(47, 39, 39, 0.613);
}
@media ( max-width: 768px) {
    /* Add your CSS code here */
    .contact-info {
        display: flex;
        flex-direction: column;
    }
}