* {
    font-family: 'Hind', sans-serif;

}

body {
    min-height: 1650px;
    margin: auto;
    background-image: url("../asset/image/purple.jpeg");
    background-size: cover;
    background-repeat: no-repeat;

}

.nav-link {
    font-size: 30px;
    color: rgba(225, 220, 220, 0.918);
}
.navbar-brand {
    font-size: 50px;
    font-weight: 900px;
    color: aliceblue;
}
.card {
    background-color: rgba(71, 91, 108, 0.572);
}

#welcome-quote {
    font-size: 50px;
    font-weight: 800;
    font-family: 'Bebas Neue', sans-serif;
    color: rgba(240, 238, 238, 0.899);
}



.footer{
    color: white;
    padding: 40px;
    position: absolute;
    bottom: 0;
    width: 99%;
    background-color: rgba(47, 39, 39, 0.613);
}

