* {
    font-family: 'Achivo', sans-serif;
    border-style: daed;

}

:root {
    --white-font: beige;
    --gray-font:rgb(71, 66, 66);
}

.intro-box {
    color: var(--white-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

}

body {
    min-height: 1900px;
    margin: auto;
    background-image: url("../asset/image/purple.jpeg");
    background-size: cover;
    background-repeat: no-repeat;

}

.nav-link {
    font-size: 30px;
    color: rgba(225, 220, 220, 0.918);
}
.navbar-brand {
    font-size: 50px;
    font-weight: 900px;
    color: aliceblue;
}
.card {
    background-color: rgba(71, 91, 108, 0.572);
}






